#basicArticle {
    display: flex;
}

/* Side-left */ 

img {
    width: 200px;
    height: 200px;
    box-shadow : 0px 4px 4px #E3E3E2;
}

#tag {
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 25px;
    border-radius: 3px;
    height : 25px;
    width: 150px;
    left: 27px;
    margin-top: 190px;
    padding-left: 10px;
    color: #FFFFFF;
    background-color: #1C475E;
    font-family: 'Patrick Hand';
    position : absolute; 
}

/* Side-right */ 

.side-right {
    border: 1px solid #E3E3E2;
    width : 150px;
    height: 150px;
    padding: 24px;
    opacity: 1;
    transition: .5s ease; /*transition vers le side-right:hover*/
}

.side-right:hover {
    opacity: 1;
    background-color: #8FB3BE;
}

.side-right:hover h1 {
    opacity: 0.3;
}

.side-right:hover .date {
    opacity: 0.3;
}

.side-right:hover .description {
    opacity: 0.3;
}

h1 {
    color : #535857;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}

.date {
    color : #535857;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10px;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}

.description {
    color : #535857;
    font-family: 'Patrick Hand';
    font-size: 12px;
    letter-spacing: 0.1em;
}

.link { /*todo : doit s'afficher devant le composant*/
    width: 150px;
    height : 25px;
    background-color: white;
    position : absolute;
    top : 100px;
}

.link a {
    font-family: 'Patrick Hand';
    width: 150px;
    color: #535857;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.side-right .link {
    display : none; 
}

.side-right:hover .link {
    display : flex;
}
